[submodule "GModBinary1/gmod-module-base"]
	path = GModBinary1/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base.git
	branch = development
[submodule "GModBinary1/glm"]
	path = GModBinary1/glm
	url = https://github.com/g-truc/glm.git
[submodule "GModBinary1/bvh"]
	path = GModBinary1/bvh
	url = https://github.com/madmann91/bvh
